body {
    margin: 0;

    position: relative;
    overflow-x: hidden;
}

.header1 {
    width: 1440px;
    height: 72px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    flex-direction: column;
    /* position: relative; */


}

.logosvg {
    position: absolute;

    Top: 24px;
    Left: 72px;
}

.search-bar {
    position: absolute;
    background-color: #F2F2F2;
    height: 42px;
    width: 360px;
    top: 16px;
    left: 540px;
    border-radius: 21px;

}

.searchinp {
    position: absolute;
    width: 242px;
    height: 19px;
    top: 12px;
    /* right: 50px; */
    left: 50px;
    outline: none;
    border: none;
    background-color: #F2F2F2;


}

.searchSvg {



    position: absolute;
    left: 16.75px;
    top: 12.75px;
    /* bottom: 14.63%;
    right: 14.63%;     */
    /* background: #7A7A7A; */



}

.select-field {
    width: 183px;
    height: 21px;
    position: absolute;
    top: 27px;
    left: 1161px;

}

.dropDownsvg {

    position: absolute;
    top: -3px;
    left: 183px;
    border: none;

}

.label1 {
    font-size: 16px;
    line-height: 20.8px;
    align-items: right;

}

.imgContainer {
    background-image: url("homeImg.jpg");
    width: 1440px;
    height: 440px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    top: 72px;
    display: flex;
    flex-direction: row;
    background-color: rgb(7, 7, 7);
    position: relative;
}

.imgContainer::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

#imgText1 {
    position: absolute;
    width: 478px;
    height: 47px;
    top: 286px;
    left: 200px;
    color: rgb(202, 201, 201);
    font-size: 36px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;

}

#imgText2 {
    position: absolute;
    color: rgb(169, 169, 169);
    width: 327px;
    height: 23px;
    top: 337px;
    left: 200px;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
}



/* Group 34 */






.allPosts32 {


    position: absolute;
    width: 93px;
    height: 21px;
    left: 200px;
    top: 559px;

    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */

    color: #000000;


}

.Article {
    /* Article */

    position: absolute;
    width: 47px;
    height: 21px;
    left: 313px;
    top: 559px;

    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */

    color: #8A8A8A;


}





.Event {
    /* Event */

    position: absolute;
    width: 41px;
    height: 21px;
    left: 380px;
    top: 559px;

    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */

    color: #8A8A8A;


}





.Education {
    /* Education */

    position: absolute;
    width: 72px;
    height: 21px;
    left: 439px;
    top: 559px;

    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */

    color: #8A8A8A;


}





.Job {
    /* Job */

    position: absolute;
    width: 27px;
    height: 21px;
    left: 531px;
    top: 559px;

    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */

    color: #8A8A8A;


}


.joinBtn {
    /* Rectangle 4 */

    position: absolute;
    width: 125px;
    height: 36px;
    left: 1155px;
    top: 552px;

    background: #2F6CE5;
    border-radius: 4px;
    overflow-y: hidden;

}

.joinBtn svg {
    position: absolute;
    top: 7px;
    left: 10px;
}

.writeapost {
    position: absolute;
    top: 552px;
    height: 36px;
    width: 133px;
    left: 996px;
    outline: none;
    border: none;
}

.writeapost select {
    width: 133px;
    height: 36px;
    position: absolute;
    top: 0px;
    left: 12px;
    /* Write a Post */
    background: rgba(237, 238, 240, 1);
    outline: none;
    border: none;


}

.writeapost select option {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    /* identical to box height */

    color: #000000;
}


.joinBtn p {
    width: 75px;
    height: 20px;
    position: absolute;
    top: -6px;
    left: 38px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;

}




.contentContainer {
    position: absolute;
    width: 1040px;
    top: 600px;
    left: 200px;
    border-top: 1px solid rgba(224, 224, 224, 1);

}

.reactangle4 {
    position: absolute;
    top: 28px;
    right: 348px;
    width: 692px;
    height: 472px;
    border-radius: 4px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;

}

.reactangle4 img {
    width: 692px;
    height: 220px;
    top: 628px;
    left: 200px;
    border-radius: 4px, 4px, 0px, 0px;


}

#p1 {
    width: 80px;
    height: 25px;


    position: absolute;
    top: 240px;
    left: 20px;
    bottom: 207px;
    right: 595px;

    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
}

#p2 {
    width: 600px;
    height: 60px;
    position: absolute;
    left: 20px;
    top: 275px;
    color: rgba(0, 0, 0, 1);
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
}

#p3 {
    position: absolute;
    top: 276px;
    right: 20px;

}

#p4 {
    width: 652px;
    height: 25px;
    position: absolute;
    top: 347px;
    left: 20px;
    font-size: 19px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(92, 92, 92, 1);

}

#img2 {
    position: absolute;
    width: 48px;
    height: 48px;
    border-radius: 24px;
    top: 414px;
    left: 20px;

}



#p6 {
    position: absolute;
    top: 416px;
    bottom: 32px;
    right: 489px;
    width: 125px;
    height: 24px;
    left: 78px;
    font-size: 16px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
}

#divsvg {
    position: absolute;
    top: 419px;
    left: 495px;
    width: 95px;
    height: 18px;
    bottom: 35px;
    right: 102px;
    object-fit: fill;
}

#divsvg svg {
    position: absolute;
    top: 13px;
    left: 0px;
}

#p8 {
    position: absolute;
    top: 0px;
    left: 24px;
    right: 3px;
    width: 69px;
    height: 18px;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: right;
}

#sharebtn {
    width: 42px;
    height: 36px;
    position: absolute;
    top: 423px;
    left: 630px;
    border-radius: 2px;
    background: rgba(237, 238, 240, 1);
    outline: none;
    border: none;

}

#sharebtn svg {
    position: absolute;
    top: 9px;
    left: 12px;
    bottom: 9px;
    right: 12px;
}

.reactangle4b {
    /* Rectangle 4 */

    position: absolute;
    width: 692px;
    height: 472px;
    /* left: 200px; */
    top: 516px;
    right: 348px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
}

#p12 {
    /* 🔬️ Education */

    position: absolute;
    width: 112px;
    height: 25px;
    left: 20px;
    top: 240px;

    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;

    color: #000000;


}

.reactangle4c {


    position: absolute;
    width: 692px;
    height: 490px;
    right: 348px;
    top: 1004px;

    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 4px;


}

.group53 {
    position: absolute;
    width: 358px;
    height: 20px;
    top: 335px;
    left: 20px;
    display: flex;
    justify-content: space-between;
}

.group53a {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    gap: 4px;
    width: 168px;
    height: 20px;
}

.group53b {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 20px;
    width: 155px;
    display: flex;
    gap: 4px;
}

.group42 {
    /* Rectangle 2 */
    box-sizing: border-box;
    position: absolute;
    width: 652px;
    height: 38px;
    left: 20px;
    top: 366px;
    background: #FFFFFF;
    border: 0.7px solid #A9AEB8;
    border-radius: 8px;
    text-align: center;

    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 140.4%;
}

/* Visit Website */

.group42::placeholder {
    color: #E56135;
}

#imgc2 {
    position: absolute;
    top: 422px;
    left: 20px;
    border-radius: 24px;
}


.reactangle4d {
    /* Rectangle 4 */

    position: absolute;
    width: 692px;
    height: 269px;
    right: 348px;

    top: 1510px;

    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
}

#p41 {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 59px;
    height: 25px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
}

#p42 {
    position: absolute;
    top: 55px;
    left: 20px;
    width: 600px;
    height: 30px;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 134.55%;
    color: #000000;
}

#p43 {

    position: absolute;
    width: 28px;
    height: 28px;

    position: absolute;
    left: 100%;
    top: 56px;
    left: 644px;

    position: absolute;
    color: #000000;

}

.group54 {
    position: absolute;
    top: 120px;
    left: 20px;
    width: 399px;
    height: 20px;
    display: flex;
    justify-content: space-between;
}

.group54a {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    width: 263px;
    height: 20px;
}

.group54b {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 20px;
    width: 110px;
    display: flex;
}

.group54c {
    position: absolute;
    top: 153px;
    left: 20px;
    width: 650px;
    height: 36px;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 0.7px solid #A9AEB8;
    border-radius: 10px;

}

.group54c::placeholder {
    /* Apply on Timesjobs */

    position: absolute;
    width: 118px;
    height: 18px;
    left: 266px;
    top: 9px;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 140.4%;
    /* or 18px */
    text-align: center;
    color: #02B875;
}

#imgd2 {
    /* Rectangle 3 */

    position: absolute;
    width: 48px;
    height: 48px;
    left: 20px;
    top: 201px;
    border-radius: 24px;

}

#p46 {
    /* Joseph Gray */

    position: absolute;
    width: 112px;
    height: 24px;
    left: 78px;
    top: 196px;

    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */

    color: #000000;


}

#divsvgd {
    position: absolute;
    top: 216px;
    left: 495px;

}

#p8d {
    position: absolute;
    width: 76px;
    height: 18px;
    top: -16px;
    left: 28px;
}

#sharebtnd {
    position: absolute;
    top: 207px;
    left: 630px;
    right: 26px;
    width: 42px;
    height: 36px;
    outline: 0px;
    border: 0px;
}